#reservas_repositorio {
   display: flex;
   flex-wrap: wrap;
   margin: 1em 0;
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 1em;
}

.list-group-item.rojo {
  background: rgba(255,0,0,0.5);
}

.list-group-item.verde {
  background: rgba(0,255,0,0.5);
}

.list-group-item.naranja {
  background: rgba(255,130,5,0.5);
}

.repo {
   width: 25%;
   margin: 10px 0;
}
.fila{
    display: flex;
     flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.17);
}

input[type=checkbox],
input[type=radio] {
   margin-right: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}
/* Start by setting display:none to make this hidden.
Then we position it in relation to the viewport window
with position:fixed. Width, height, top and left speak
for themselves. Background we set to 80% white with
our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
        url('http://i.stack.imgur.com/FhHRx.gif')
        50% 50%
        no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}