{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proyectos edit</h1>

    {{ form_start(edit_form) }}
    <div class="form-group">
        {{ form_label(edit_form.nombre) }}
        {{ form_widget(edit_form.nombre, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.fechainicio) }}
        {{ form_widget(edit_form.fechainicio, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.fechafin) }}
        {{ form_widget(edit_form.fechafin, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.descripcion) }}
        {{ form_widget(edit_form.descripcion, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.product) }}
        {{ form_widget(edit_form.product, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.project) }}
        {{ form_widget(edit_form.project, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.scrum) }}
        {{ form_widget(edit_form.scrum, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.cabeceras) }}
        {{ form_widget(edit_form.cabeceras, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <button type="submit" name="_submit" id="_submit" class="btn btn-success">Guardar <span class="glyphicon glyphicon-floppy-saved"></span></button>
    {{ form_end(edit_form) }}

    <button type="submit" class="btn btn-default" onclick="location.href = '{{ path('proyectos_index') }}';">
        Volver <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
        
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-remove"></span></button>
    {{ form_end(delete_form) }}
{% endblock %}
