{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        $('table').DataTable();
    </script>
{% endblock %}

{% block body %}
    <h1>Proyectos list</h1>

    <div class="table-responsive"> 
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fechainicio</th>
                    <th>Fechafin</th>
                    <th>Descripcion</th>
                    <th>Product</th>
                    <th>Project</th>
                    <th>Scrum</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in proyectos %}
                    <tr>
                        <td>{{ proyecto.nombre }}</td>
                        <td>{% if proyecto.fechainicio %}{{ proyecto.fechainicio|date('Y-m-d') }}{% endif %}</td>
                        <td>{% if proyecto.fechafin %}{{ proyecto.fechafin|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ proyecto.descripcion }}</td>
                        <td>{{ proyecto.product }}</td>
                        <td>{{ proyecto.project }}</td>
                        <td>{{ proyecto.scrum }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('proyectos_show', { 'id': proyecto.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('proyectos_edit', { 'id': proyecto.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>         

    <a href="{{ path('proyectos_new') }}"><img src="{{ asset('bundles/reservas/images/add.png') }}"></a>
{% endblock %}
