{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proyectos creation</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.nombre) }}
        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.fechainicio) }}
        {{ form_widget(form.fechainicio, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.fechafin) }}
        {{ form_widget(form.fechafin, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.descripcion) }}
        {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.product) }}
        {{ form_widget(form.product, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.project) }}
        {{ form_widget(form.project, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.scrum) }}
        {{ form_widget(form.scrum, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.cabeceras) }}
        {{ form_widget(form.cabeceras, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <button type="submit" name="_submit" id="_submit" class="btn btn-success">Guardar <span class="glyphicon glyphicon-floppy-saved"></span></button>
    {{ form_end(form) }}


    <button type="submit" class="btn btn-default" onclick="location.href = '{{ path('proyectos_index') }}';">
        Volver <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
{% endblock %}
