{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        $('#tabla').DataTable();
    </script>
{% endblock %}

{% block body %}
    <h1>Proyectos</h1>

    <div class="table-responsive"> 
        <table class="table table-striped table-bordered" id="tabla">
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <td>{{ proyecto.nombre }}</td>
                </tr>
                <tr>
                    <th>Fechainicio</th>
                    <td>{% if proyecto.fechainicio %}{{ proyecto.fechainicio|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Fechafin</th>
                    <td>{% if proyecto.fechafin %}{{ proyecto.fechafin|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Descripcion</th>
                    <td>{{ proyecto.descripcion }}</td>
                </tr>
                <tr>
                    <th>Product</th>
                    <td>{{ proyecto.product }}</td>
                </tr>
                <tr>
                    <th>Project</th>
                    <td>{{ proyecto.project }}</td>
                </tr>
                <tr>
                    <th>Scrum</th>
                    <td>{{ proyecto.scrum }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit" class="btn btn-default" onclick="location.href = '{{ path('proyectos_index') }}';">
        Volver <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    
    <button type="submit" class="btn btn-success" onclick="location.href = '{{ path('proyectos_edit', { 'id': repositorio.id }) }}';">
        Editar <span class="glyphicon glyphicon-edit"></span>
    </button>  
        
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-remove"></span></button>
    {{ form_end(delete_form) }}
{% endblock %}
