<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Reservas UE{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('bundles/reservas/css/bootstrap-datetimepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/reservas/css/jquery-confirm.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/reservas/css/myStyles.css') }}" />

<!-- Custom styles for this template -->
<style>
    body {
        padding-top: 70px;
        padding-bottom: 30px;
    }

    .theme-dropdown .dropdown-menu {
        position: static;
        display: block;
        margin-bottom: 20px;
    }

    .theme-showcase > p > .btn {
        margin: 5px 0;
    }

    .theme-showcase .navbar .container {
        width: auto;
    }
</style>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Reservas UE</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url('homepage') }}">Inicio</a></li>
                    <li><a href="{{ url('cabeceras_index') }}">Cabeceras</a></li>
                    <li><a href="{{ url('repositorios_index') }}">Repositorios</a></li>
{#                    <li><a href="{{ url('proyectos_index') }}">Proyectos</a></li>#}
                    <li><a href="{{ url('reservas_index') }}">Reservas</a></li>
                    {% if app.user %}
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_profile_edit') }}">Editar</a>
                        </li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container theme-showcase" role="main">
    {% block body %}{% endblock %}
</div>
<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ asset('bundles/reservas/js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bundles/fenrizbescolorpickertype/lib/js/iris.min.js') }}"></script>
<script src="{{ asset('bundles/fenrizbescolorpickertype/js/color_picker_type.js') }}"></script>
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="{{ asset('bundles/reservas/js/bootstrap-datetimepicker.min.js') }}"></script>
<script src='{{ asset('bundles/reservas/js/jquery-confirm.min.js') }}'></script>
{% block javascripts %}{% endblock %}
</body>
</html>
