{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="form-group">
        <label>Nombre de usuario</label>   
        {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        <label>Contraseña</label>        
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        <label>Repite la contraseña</label>        
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        <label>Token GitLab</label>
        {{ form_widget(form.token, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <button type="submit" name="_submit" id="_submit" class="btn btn-success">Guardar <span class="glyphicon glyphicon-floppy-saved"></span></button>
{{ form_end(form) }}
