{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cabeceras edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button type="submit" name="_submit" id="_submit" class="btn btn-success">Guardar <span class="glyphicon glyphicon-floppy-saved"></span></button>
    {{ form_end(edit_form) }}

    <button type="submit" class="btn btn-default" onclick="location.href = '{{ path('cabeceras_index') }}';">
        Volver <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
        
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-remove"></span></button>
    {{ form_end(delete_form) }}
    
{% endblock %}
