{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        $('table').DataTable();
    </script>
{% endblock %}

{% block body %}
    <h1>Listado de Cabeceras</h1>

    <div class="table-responsive"> 
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for cabecera in cabeceras %}
                    <tr>
                        <td>{{ cabecera.nombre }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        <table>
    </div>

    <a href="{{ path('cabeceras_new') }}"><img src="{{ asset('bundles/reservas/images/add.png') }}"></a>
{% endblock %}
