{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cabeceras creation</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.nombre) }}
        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
        {{ form_label(form.color) }}
        {{ form_widget(form.color, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <button type="submit" name="_submit" id="_submit" class="btn btn-success">Guardar <span class="glyphicon glyphicon-floppy-saved"></span></button>
    {{ form_end(form) }}

    <button type="submit" class="btn btn-default" onclick="location.href = '{{ path('cabeceras_index') }}';">
        Volver <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
{% endblock %}
