{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cabeceras</h1>

    <div class="table-responsive"> 
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ cabecera.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ cabecera.nombre }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit" class="btn btn-default" onclick="location.href = '{{ path('cabeceras_index') }}';">
        Volver <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    
    <button type="submit" class="btn btn-success" onclick="location.href = '{{ path('cabeceras_edit', { 'id': repositorio.id }) }}';">
        Editar <span class="glyphicon glyphicon-edit"></span>
    </button>   
        
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-remove"></span></button>
    {{ form_end(delete_form) }}
    
{% endblock %}
