{% extends 'base.html.twig' %}

{% block body %}
    <h1>Repositorios edit</h1>

    {{ form_start(edit_form) }}
    <div class="form-group">
        {{ form_label(edit_form.nombre) }}
        {{ form_widget(edit_form.nombre, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.url) }}
        {{ form_widget(edit_form.url, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.cabecera) }}
        {{ form_widget(edit_form.cabecera, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <button type="submit" name="_submit" id="_submit" class="btn btn-success">Guardar <span class="glyphicon glyphicon-floppy-saved"></span></button>
    {{ form_end(edit_form) }}

    <button type="submit" class="btn btn-default" onclick="location.href = '{{ path('repositorios_index') }}';">
        Volver <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
        
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-remove"></span></button>
    {{ form_end(delete_form) }}
{% endblock %}
