{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        $('table').DataTable();
    </script>
{% endblock %}

{% block body %}
    <h1>Repositorios list</h1>

    <div class="table-responsive"> 
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                        {% if app.user %}
                        <th>Última release ops</th>
                        <th>En Staging</th>
                        <th>Último tag</th>
                        <th>Acciones</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for repositorio in repositorios %}
                    <tr>
                        <td>{% if app.user %}<a href="{{ path('repositorios_show', { 'id': repositorio.id }) }}">{% endif %}{{ repositorio.nombreCompleto }}{% if app.user %}</a>{% endif %}</td>

                        {% if app.user %}
                            <td>
                                {% if lastOpsReleases is defined and lastOpsReleases is not empty %}
                                    {% if lastOpsReleases[loop.index -1] is defined and lastOpsReleases[loop.index -1] is not empty %}
                                        {{ lastOpsReleases[loop.index -1].name }} desde el {{ lastOpsReleases[loop.index -1].date|date("d/m/Y h:i") }} ({{ lastOpsReleases[loop.index -1].date|date("m/d/Y h:i:s")|timeAgo }})
                                    {% else %}
                                        Sin datos
                                    {% endif %}
                                {% else %}
                                    Sin datos
                                {% endif %}
                            </td>
                            <td>
                                {% if lastRelease is defined and lastRelease is not empty %}
                                    {% if lastRelease[loop.index -1] is defined and lastRelease[loop.index -1] is not empty %}
                                        {{ lastRelease[loop.index -1].name }} desde el {{ lastRelease[loop.index -1].name }} ({{ lastRelease[loop.index -1].date|date("m/d/Y h:i:s")|timeAgo }})
                                    {% else %}
                                        Sin datos
                                    {% endif %}
                                {% else %}
                                    Sin datos
                                {% endif %}
                            </td>
                            <td>
                                {% if lastTags is defined and lastTags is not empty %}
                                    {% if lastTags[loop.index -1] is defined and lastTags[loop.index -1] is not empty %}
                                        {{ lastTags[loop.index -1].name }} el {{ lastTags[loop.index -1].date|date("d/m/Y h:i") }}({{ lastTags[loop.index -1].date|date("m/d/Y h:i:s")|timeAgo }})
                                    {% else %}
                                        Sin datos
                                    {% endif %}
                                {% else %}
                                    Sin datos
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('repositorios_edit', { 'id': repositorio.id }) }}">Editar</a>
                            </td>
                            <td>
                                Última release
                            </td>
                            <td>
                                Último tag
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('repositorios_new') }}"><img src="{{ asset('bundles/reservas/images/add.png') }}"></a>
    {% endblock %}
