{% extends 'base.html.twig' %}

{% block body %}
    <h1>Repositorios creation</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.nombre) }}
        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control repo'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.url) }}
        {{ form_widget(form.url, { 'attr': {'class': 'form-control repo'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.cabecera) }}
        {{ form_widget(form.cabecera, { 'attr': {'class': 'form-control repo'} }) }}
    </div>
    <button type="submit" name="_submit" id="_submit" class="btn btn-success">Guardar <span class="glyphicon glyphicon-floppy-saved"></span></button>
        {{ form_end(form) }}

    <button type="submit" class="btn btn-default" onclick="location.href = '{{ path('repositorios_index') }}';">
        Volver <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
{% endblock %}
