{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        $('#tabla2').DataTable();
        $('#tabla3').DataTable();
    </script>
{% endblock %}

{% block body %}
    <h1>Datos del repositorio</h1>

    <div class="table-responsive"> 
        <table class="table table-striped table-bordered" id="tabla1">
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <td>{{ repositorio.nombreCompleto }}</td>
                </tr>
                <tr>
                    <th>Url</th>
                    <td><a href="{{ repositorio.url }}">{{ repositorio.url }}</a></td>
                </tr>
                {% if lastOpsRelease is defined and lastOpsRelease is not empty %}
                    <tr>
                        <th>Última release operaciones</th>
                        <td>{{ lastOpsRelease.name }} desde el {{ lastOpsRelease.date|date("d/m/Y h:i") }} ({{ lastOpsRelease.date|date("d/m/Y h:i:s")|timeAgo }})</td>
                    </tr>
                {% endif %}
                {% if lastRelease is defined and lastRelease is not empty %}
                    <tr>
                        <th>En Staging</th>
                        <td>{{ lastRelease.name }} desde el {{ lastRelease.date|date("d/m/Y h:i") }} ({{ lastRelease.date|date("m/d/Y h:i:s")|timeAgo }})</td>
                    </tr>
                {% endif %}
                {% if lastTag is defined and lastTag is not empty %}
                    <tr>
                        <th>Último tag</th>
                        <td>{{ lastTag.name }} el  {{ lastTag.date|date("d/m/Y h:i") }} ({{ lastTag.date|date("m/d/Y h:i:s")|timeAgo }})</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% if branches is defined and branches is not empty %}
                <div class="table-responsive"> 
                    <table class="table table-striped table-bordered" id="tabla2">
                        <thead>
                            <tr>
                                <th>Ramas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for branch in branches %}
                                <tr>
                                    <td>{{ branch }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
        <div class="col-md-9">
            {% if commits is defined and commits is not empty %}
                <div data-toggle="collapse" data-target="#commits">
                    Commits
                </div>
                <div id="commits" class="collapse">
                    <ul class="list-group">
                        {% for commit in commits %}
                            <li class="list-group-item" title="{{ commit.created_at | split('.')[0] | replace("T", " ") }}">
                                {{ commit.short_id }}   {{ commit.message }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <button type="submit" class="btn btn-default" onclick="location.href = '{{ path('repositorios_index') }}';">
        Volver <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    <button type="submit" class="btn btn-success" onclick="location.href = '{{ path('repositorios_edit', { 'id': repositorio.id }) }}';">
        Editar <span class="glyphicon glyphicon-edit"></span>
    </button>
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-remove"></span></button>
        {{ form_end(delete_form) }}
    {% endblock %}
