{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar reserva</h1>

    {{ form_start(edit_form) }}
    <div class="form-group">
        <div class='input-group date' id='datetimepicker1'>
            {{ form_label(edit_form.fechainicio) }}
            {{ form_widget(edit_form.fechainicio, { 'attr': {'class': 'form-control'} }) }}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class='input-group date' id='datetimepicker2'>
            {{ form_label(edit_form.fechafin) }}
            {{ form_widget(edit_form.fechafin, { 'attr': {'class': 'form-control'} }) }}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <span class="input-group-addon">
                <span id="ahora" class="glyphicon glyphicon-arrow-down" title="Ahora"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.responsable) }}
        {{ form_widget(edit_form.responsable, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.descripcion) }}
        {{ form_widget(edit_form.descripcion, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <button type="submit" name="_submit" id="_submit" class="btn btn-success">Guardar <span class="glyphicon glyphicon-floppy-saved"></span></button>
    
    <button type="submit" class="btn btn-default" onclick="location.href = '{{ path('reservas_index') }}';">
        Volver <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-remove"></span></button>
    {{ form_end(delete_form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var inicio = "{{ reserva.fechaInicio }}";
        var fin = "{{ reserva.fechaFin }}";
        $('#ahora').on('click', function () {
            $('#datetimepicker2').data("DateTimePicker").date(new Date())
        })
        $(function () {
            console.log(moment());
            $('#datetimepicker2').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                inline: true,
                sideBySide: true,
                daysOfWeekDisabled: [0, 6],
                enabledHours: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
                defaultDate: fin
            });
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                inline: true,
                sideBySide: true,
                daysOfWeekDisabled: [0, 6],
                enabledHours: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
                defaultDate: inicio
            });
        });
    </script>
{% endblock %}
