{% extends 'baseReservas.html.twig' %}

{% block stylesheets %}
    <link href='{{ asset('bundles/reservas/css/fullcalendar.min.css') }}' rel='stylesheet' />
    <link rel="stylesheet" href="{{ asset('bundles/reservas/css/scheduler.min.css') }}" />
    <link href='{{ asset('bundles/reservas/css/fullcalendar.print.css') }}' rel='stylesheet' media='print' />
    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

        a {
            cursor: pointer;
        }

    </style>
{% endblock %}
{% block javascripts %}
    <script src='{{ asset('bundles/reservas/js/moment.min.js') }}'></script>
    <script src='{{ asset('bundles/reservas/js/fullcalendar.min.js') }}'></script>
    <script src="{{ asset('bundles/reservas/js/scheduler.min.js') }}"></script>
    <script>

        function terminarReserva(id){
            $.post('{{path('terminarReserva')}}',
                        {id: id},
                        function (response) {
                            if (response.code == 100 && response.success) {//dummy check
                                alert('Reserva terminada');
                                window.location.href = "{{ url('reservas_index') }}";
                            } else {
                                alert('Ops!');
                            }

                        }, "json");
        }

        $(document).ready(function () {            
            $('#calendar').fullCalendar({
                schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                eventClick: function (calEvent, jsEvent, view) {

                    $.dialog({
                        backgroundDismiss: true,
                        title: calEvent.title,
                        content: 'Responsable: ' + calEvent.responsable + '<br>Descripcion: ' + calEvent.descripcion + '<br>\n\
                                Fecha de Inicio: ' + calEvent.fechaInicio + '<br>Fecha de fin: ' + calEvent.fechaFin + '<br>\n\
                                Acciones: <ul><li><a href="/reservas/' + calEvent.id + '/edit">Editar</a></li><li><a href="#" onclick=terminarReserva(' + calEvent.id + ')>Terminar reserva</a></li></ul>'
                    });

                },
                now: new Date(),
                editable: true,
                aspectRatio: 1.8,
                scrollTime: '00:00',
                customButtons: {
                    myCustomButton: {
                        text: 'Añadir Reserva',
                        click: function () {
                            location.href = '{{ url('reservas_new') }}'
                        }
                    }
                },
                header: {
                    left: 'prev,next today myCustomButton',
                    center: 'title',
                    right: 'timelineDay,timelineFiveDays,agendaWeek,month'
                },
                defaultView: 'timelineFiveDays',
                views: {
                    timelineFiveDays: {
                        type: 'timeline',
                        duration: { days: 5 }
                    }
                },
                resourceAreaWidth: '40%',
                resourceColumns: [
                    {
                        group: true,
                        labelText: 'Cabecera',
                        field: 'cabecera'
                    },
                    {
                        labelText: 'Repo',
                        field: 'repo'
                    }
                ],
                allDaySlot: false,
                minTime: "08:00:00",
                maxTime: "20:00:00",
                resources:{{ arrayCabeceras | json_encode() | raw }},
                events:{{ array | json_encode() | raw }}
            });
        });

    </script>
{% endblock %}

{% block body %}
    <div id='calendar'></div>
{% endblock %}
