{% extends 'base.html.twig' %}

{% form_theme form 'ReservasBundle:Form:fields.html.twig' %}

{% block body %}
    <h1>Reservas creation</h1>

    {{ form_start(form) }}
    {{ form_label(form.repositorio) }}
    {{ form_widget(form.repositorio, { 'attr': {'class': 'input-group'} }) }}
    <div class="form-group">
        <div class='input-group date' id='datetimepicker1'>
            {{ form_label(form.fechainicio) }}
            {{ form_widget(form.fechainicio, { 'attr': {'class': 'form-control'} }) }}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class='input-group date' id='datetimepicker2'>
            {{ form_label(form.fechafin) }}
            {{ form_widget(form.fechafin, { 'attr': {'class': 'form-control'} }) }}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.responsable) }}
        {{ form_widget(form.responsable, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.descripcion) }}
        {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
    </div>
    {{ form_end(form) }}

    <button type="submit" class="btn btn-default" onclick="location.href = '{{ path('reservas_index') }}';">
        Volver <span class="glyphicon glyphicon-arrow-left"></span>
    </button>

    <button id="button2" class="btn btn-success">Guardar <span class="glyphicon glyphicon-remove"></span></button>

    <div class="modal"><!-- Place at bottom of page --></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {

            $('#datetimepicker2').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                sideBySide: false,
                daysOfWeekDisabled: [0, 6],
                minDate: moment()
            });

            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                sideBySide: false,
                daysOfWeekDisabled: [0, 6],
                minDate: moment()
            });
        });

        function launchReservation(str) {
            var res = confirm("¿Reservar " + str + "?");
            if (res) {
                $.post('{{path('AcmeHomeBundle_ajax_update_mydata')}}',
                        {data: $('form').serializeArray()},
                        function (response) {
                            if (response.code == 100 && response.success) {//dummy check
                                alert('Reserva realizada');
                                window.location.href = "{{ url('reservas_index') }}";
                            } else if (response.code == 100) {
                                alert('Ya hay una reserva para estas fechas');
                            } else {
                                alert('Ups!');
                            }

                        }, "json");
            } else {
                alert('Reserva no realizada');
            }
        }

        function aButtonPressed2() {
            var str = "";
            $("input:checked").each(function () {
                var id = $(this).attr('id');
                str += $("label[for='" + id + "']").text() + " ";
            });
            if (opsDays()) {
                var res = confirm("Estás reservando en días de operaciones. ¿Quieres continuar?");
                if (res) {
                    launchReservation(str);
                }
            } else {
                launchReservation(str);
            }


        }

        function opsDays() {
            var fecha1 = $('#reservas_fechainicio').val();
            fecha1 = new Date(fecha1);
            var fecha2 = $('#reservas_fechafin').val();
            fecha2 = new Date(fecha2);
            while (fecha1.getDate() <= fecha2.getDate()) {
                if (fecha1.getDay() == 1 || fecha1.getDay() == 5)
                    return true;
                fecha1.setDate(fecha1.getDate() + 1);
                console.log(fecha1);
                console.log(fecha1.getDay());
            }
            return false;
        }

        $(document).ready(function () {
            $('#button2').on('click', function (e) {
                aButtonPressed2();
                e.preventDefault();
            });
        });
        $(document).on({
            ajaxStart: function () {
                $("body").addClass("loading");
            },
            ajaxStop: function () {
                $("body").removeClass("loading");
            }
        });
    </script>
{% endblock %}