{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservas</h1>

    <div class="table-responsive"> 
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ reserva.id }}</td>
                </tr>
                <tr>
                    <th>Fechainicio</th>
                    <td>{% if reserva.fechainicio %}{{ reserva.fechainicio }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Fechafin</th>
                    <td>{% if reserva.fechafin %}{{ reserva.fechafin }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Responsable</th>
                    <td>{{ reserva.responsable }}</td>
                </tr>
                <tr>
                    <th>Descripcion</th>
                    <td>{{ reserva.descripcion }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="{{ path('reservas_index') }}">
        <img src='{{ asset('bundles/reservas/images/back.png') }}' title="Volver">
    </a>
    <a href="{{ path('reservas_edit', { 'id': reserva.id }) }}">
        <img src='{{ asset('bundles/reservas/images/edit.png') }}' title="Volver">
    </a>
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
