{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
	    {%- set cabeceraActual = child.vars.label | split(' - ') | first -%}
		    {%- if cabecera is defined and cabeceraActual != cabecera -%}
		    	</div>
		    {%- endif -%}
		    {%- if loop.index == 1 or cabecera is defined and cabeceraActual != cabecera -%}
	    		<h3>{{ cabeceraActual }}</h3>
		    	<div class="fila">
		    {%- endif -%}
	        <div class="repo">
	            {{ form_widget(child) }}
	            {{ form_label(child, null, {translation_domain: choice_translation_domain}) }}
	        </div>
	    {%- set cabecera = child.vars.label | split(' - ') | first -%}
    {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}